ion-page {
  --ion-background-color: transparent !important;
}

ion-content {
  --ion-background-color: transparent !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/images/bgr.svg");
}

ion-fab {
  position: relative;
}

.scan-result {
  &__text {
    display: flex;
    align-items: center;
    padding: 2vh 0;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--ion-color-success);
    border-radius: 1em;
    margin-bottom: 3vh;
    background-color: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);

    ion-icon {
      font-size: 2em;
      color: lightgray;
    }

    span {
      width: 90%;
      font-size: 1.2em;
      white-space: pre-wrap;
      padding: 1em 0;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
